# Logs
/logs
*.log*

# Dependency directories
node_modules/
.npm/

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Build output
/out
/dist

# Temp and cache directory
.temp
.cache/

# yarn v2
.yarn/
.pnp.*

# IDEs and editors
.idea/
.vscode/

# Misc.
.DS_Store
Thumbs.db
